package {{invokerPackage}};

import retrofit.RestAdapter;
import retrofit.RestAdapter.Builder;

/**
* A singleton class to initialise and persist base components for making a retrofit request
*/
public class ApiSetup {

    private static final ApiSetup INSTANCE = new ApiSetup();

    private RestAdapter restAdapter;

    private ApiSetup() {
        restAdapter = new Builder().setEndpoint(ApiConsts.BASE_PATH).build();
    }

    public static ApiSetup getInstance() {
        return INSTANCE;
    }

    public RestAdapter getRestAdapter() {
        return restAdapter;
    }
}
