package {{package}};

import {{modelPackage}}.*;

import java.util.*;
import retrofit.http.*;
import retrofit.Callback;

{{#imports}}import {{import}};
{{/imports}}


{{#operations}}
public interface I{{classname}} {

  {{#operation}}
  {{#errorList}} //error info- code: {{code}} reason: "{{reason}}" model: {{#responseModel}}{{responseModel}}
  {{/responseModel}}{{^responseModel}}<none>
  {{/responseModel}}
  {{/errorList}}
  /**
    {{summary}}
    {{{notes}}}
    {{#allParams}}@param {{paramName}} {{{description}}}{{#hasMore}}
    {{/hasMore}}{{/allParams}}
  */
  @{{httpMethod}}("{{path}}")
  public {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} {{nickname}} (
        {{#allParams}}{{#isQueryParam}}@Query{{/isQueryParam}}{{#isPathParam}}@Path{{/isPathParam}}{{#isHeaderParam}}@Header{{/isHeaderParam}}{{#isBodyParam}}@Body{{/isBodyParam}}{{^isBodyParam}}("{{paramName}}"){{/isBodyParam}} {{{dataType}}} {{paramName}}{{#hasMore}},
        {{/hasMore}}{{/allParams}} );
  {{/operation}}
}
{{/operations}}
