package {{apiPackage}};

/**
* This class contains constants for the API
*/
public class ApiConsts {

    /**
    * Endpoint base path
    */
    public static String BASE_PATH = "{{basePath}}";

    /**
    * API Version
    */
    public static final String VERSION = "{{version}}";

}
